@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-left {
  animation: slideLeft 0.3s ease-in-out forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-slide-left {
  animation: slideLeft 0.3s ease-in-out forwards;
}

.animate-slide-right {
  animation: slideRight 0.3s ease-in-out forwards;
}
